*{
    margin:0;
    padding: 0;
    list-style: none;
}

.main{
    width: 750px;
    height: auto;
    margin: 0 auto;
    .nav{
        width: 750px;
        height: 100px;
        border: 1px solid black;
        display: flex;
        .left{
            width: 250px;
            height: 100%;
            border: 1px solid red;
        }
        .middle{
            width: 250px;
            height: 100%;
            border: 1px solid black;
        }
        .right{
            width: 250px;
            height: 100%;
            border: 1px solid black;
        }
    }
}