* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.main .BG {
  width: 100%;
  height: 500px;
  font-size: 24px;
  margin: 0 auto;
}
.main .BG .typeArea {
  margin: 0 auto;
  width: 900px;
  height: 500px;
  position: relative;
}
.main .BG .typeArea .nav {
  background-color: black;
  width: 100%;
  height: 50px;
}
.main .BG .typeArea .nav .left {
  width: 30%;
  height: 50px;
  line-height: 45px;
  color: white;
  font-size: 24px;
  text-align: center;
}
.main .BG .typeArea .nav .right {
  width: 70%;
  line-height: 45px;
  color: white;
  font-size: 12px;
}
.main .BG .typeArea .nav .right ul {
  display: flex;
  justify-content: space-evenly;
}
.main .BG .typeArea .nav .right ul li {
  height: 50px;
  line-height: 45px;
}
.main .BG .typeArea .nav .right ul li:hover {
  border-bottom: 1px solid white;
}
.main .BG .typeArea .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main .BG .typeArea .content .mask {
  width: 400%;
  height: 100%;
  display: flex;
  transition: all 1s;
}
.main .BG .typeArea .content .mask .introduce {
  width: 25%;
  height: 100%;
}
.main .BG .typeArea .content .mask .introduce .headpic {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-left: 80px;
  background: url(../image/wujin.jpg) no-repeat;
  background-size: 100% 100%;
  transition: all 1s;
}
.main .BG .typeArea .content .mask .introduce .headpic:hover {
  transform: rotateY(360deg);
}
.main .BG .typeArea .content .mask .introduce .text {
  width: 60%;
  height: 100%;
  margin: 20px 0px ;
}
.main .BG .typeArea .content .mask .introduce .text ul {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .BG .typeArea .content .mask .introduce .text ul li {
  width: 50%;
  height: 20%;
  font-size: 12px;
}
.main .BG .typeArea .content .mask .hobby {
  background-color: red;
  width: 25%;
  height: 100%;
}
.main .BG .typeArea .content .mask .preson-experience {
  background-color: blue;
  width: 25%;
  height: 100%;
}
.main .BG .typeArea .content .mask .Project-experience {
  background-color: black;
  width: 25%;
  height: 100%;
}
.main .BG .typeArea .content .mask .Project-experience .lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main .BG .typeArea .content .mask .Project-experience .lists #first {
  width: 100px;
  height: 100px;
  background-color: rgba(230, 230, 230, 0.6);
  text-decoration: none;
  line-height: 100px;
  transition: all 1s;
  color: black;
}
.main .BG .typeArea .content .mask .Project-experience .lists #first li {
  font-size: 16px;
  margin-left: 18px;
}
.main .BG .typeArea .content .mask .Project-experience .lists #first:hover {
  transform: scale(0.8);
  border-radius: 10px;
  border: 1px solid red;
}
.main .BG .typeArea .content .glyphicon-chevron-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 200px;
  z-index: 10;
  font-size: 25px;
  padding: 12.5px 12.5px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.main .BG .typeArea .content .glyphicon-chevron-left:hover {
  background: rgba(230, 230, 230, 0.6);
}
.main .BG .typeArea .content .glyphicon-chevron-right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 200px;
  z-index: 10;
  font-size: 25px;
  padding: 12.5px 12.5px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.main .BG .typeArea .content .glyphicon-chevron-right:hover {
  background: rgba(230, 230, 230, 0.6);
}
