* {
  margin: 0;
  padding: 0;
  list-style: none;
}
* .login_root {
  width: 375px;
  height: 479.2px;
  padding: 25px;
}
* .login_root .APP_lianjian {
  width: 325px;
  height: 479.2px;
}
* .login_root .APP_lianjian header {
  width: 325px;
  height: 19.2px;
  margin-bottom: 22px;
}
* .login_root .APP_lianjian header img {
  width: 16px;
  height: 16px;
  float: left;
}
* .login_root .APP_lianjian header button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  color: #999;
  float: right;
}
* .login_root .APP_lianjian .view_title {
  width: 100%;
  height: 28px;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.75rem;
  margin-bottom: 12px;
}
* .login_root .APP_lianjian .view_subtitle {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #999;
  margin-bottom: 1.125rem;
}
* .login_root .APP_lianjian .input_col {
  height: 3.875rem;
  color: #ccc;
  position: relative;
  display: flex;
  border-bottom: 1px solid #d6d3d3;
}
* .login_root .APP_lianjian .input_col .input-field {
  border: none;
  height: 100%;
  flex-grow: 1;
}
* .login_root .APP_lianjian .input_col .input-addon {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  color: #999;
  float: right;
}
* .login_root .APP_lianjian .submit-btn {
  width: 100%;
  height: 50px;
  background-color: #00AE66;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  color: #fff;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.5rem 0 1.25rem;
}
* .login_root .APP_lianjian .submit-btn .text {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
}
* .login_root .APP_lianjian .view-footer {
  width: 100%;
  height: 72px;
}
* .login_root .APP_lianjian .view-footer .footer-actions button {
  margin: 0 120px 16px;
  padding: 0;
  font-size: 0.875rem;
  background: none;
  border: none;
  text-align: center;
}
* .login_root .APP_lianjian .view-footer .footer-comment {
  font-size: 0.875rem;
  line-height: 121%;
  letter-spacing: -0.00625rem;
  color: #ccc;
}
* .login_root .APP_lianjian .view-footer .footer-comment a {
  color: #3072f6;
}
