* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: none;
}
html {
  position: relative;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.main .nav {
  display: flex;
  width: 375px;
  height: 50px;
  padding: 0 20px 0;
  background-color: white;
}
.main .nav .left {
  width: 33.333%;
  height: 49px;
  display: flex;
}
.main .nav .left a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.main .nav .left a .l_icon {
  width: 20px;
  height: 20px;
  line-height: 10px;
  padding: 0 4px;
  background: url("../image/个人中心雪碧图.png") no-repeat 0 0;
  background-size: 93px 173px;
  background-position: 0px -20px;
  margin-top: 12px;
}
.main .nav .left .city_warp {
  height: 49px;
  line-height: 49px;
  margin-left: 20px;
}
.main .nav .left .city_warp i {
  font-size: 1px;
  color: #9c9afa;
}
.main .nav .middle {
  width: 33.333%;
  height: 48px;
}
.main .nav .middle div {
  margin: 0 auto;
  width: 62px;
  height: 48px;
  background: url("../image/链家logo.jpeg") no-repeat 0 0;
  background-size: 120% 120%;
  background-position: -5px -5px;
}
.main .nav .right {
  width: 33.333%;
  height: 49px;
  line-height: 49px;
}
.main .nav .right .r_icon {
  width: 29px;
  height: 29px;
  background: url("../image/个人中心雪碧图.png") no-repeat 0 0;
  background-size: 131px 236px;
  background-position: 5px 6px;
  float: right;
  margin-top: 6px;
}
.main .mod_box {
  display: inline-block;
  margin-top: 1px;
  width: 375px;
  height: 237px;
}
.main .mod_box .lists {
  width: 100%;
  height: 100%;
}
.main .mod_box .lists .li_item {
  margin-top: 1px;
  background-color: white;
  width: 100%;
  height: 54px;
  line-height: 54px;
}
.main .mod_box .lists .li_item .flexbox {
  margin-left: 20px;
  position: relative;
}
.main .mod_box .lists .li_item .flexbox::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 18px;
  background: url(../image/向右箭头.png) no-repeat 0 0;
  background-size: 50% 100%;
  background-position: 0 0;
}
.main .mod_box .lists .li_item .flexbox .tit {
  float: left;
}
.main .mod_box .lists .li_item .flexbox .box_col {
  float: right;
  margin-right: 25px;
  color: #babec0;
}
.main .mod_box .lists .li_item .flexbox_area {
  margin-left: 20px;
  position: relative;
}
.main .mod_box .lists .li_item .flexbox_area::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 18px;
  background: url(../image/m2.png) no-repeat 0 0;
  background-size: 100% 100%;
  background-position: 0px 0px;
}
.main .mod_box .lists .li_item .flexbox_area .tit {
  float: left;
}
.main .mod_box .lists .li_item .flexbox_area .box_col {
  float: right;
  margin-right: 10px;
}
.main .mod_box .lists .li_item .flexbox_area .box_col input {
  margin-right: 30px;
  width: 123px;
  height: 31px;
  text-indent: 75px;
  border: none;
  color: #babec0;
}
.main .bottom_link_big {
  width: 374px;
  height: 16px;
  margin: 50px 140px 0px;
}
.main .bottom_link_big a {
  width: 375px;
  height: 8px;
  line-height: 8px;
  color: #9c9fa1;
  font-size: 12px;
}
.main .view_gujia_wrap {
  width: 375px;
  position: fixed;
  bottom: 0;
  height: 5.63rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.main .view_gujia_wrap a {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  background: #00ae66;
  font-size: 1.13rem;
  padding: 0.75rem 0;
  text-align: center;
  color: #fff;
  width: 89.3%;
  margin: 1.25rem auto 0;
}
